$font-family-base: var(--font-ntsomic);
$font-family-secondary: var(--font-patsysans);

$white: #ffffff;
$text-primary: #454660;
$text-secondary: #b2b3be;
$light-grey: #f6f6f6;
$accent-red: #fe4545;
$accent-orange: #ffa046;
$accent-yellow: #fdd92a;
$accent-purple: #836add;
$accent-blue: #4b6aff;
$accent-green: #9dcb45;
$light-red: #f4ded8;
$light-orange: #f5e1d0;
$light-yellow: #f6ebb7;
$light-purple: #e2deef;
$light-blue: #d8e3f4;
$light-green: #e6ecd8;
$border: #e5e9ed;
